.bg {
    transition-duration: 1s;
    transition-property: all;
}
 
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/font.otf);
}

#minimzeWindowButton {
    height: 25px; 
}

#maximizeWindowButton {
    height: 25px;
}

#closeWindowButton {
    height: 25px;
}
.desktop-icons {
    display: grid;
    width: 50px;
}


.fade-out-large {
    animation: fade-out-large 0.2s normal both;
    pointer-events: none;
}

@keyframes fade-out-large {
    0% {
        height: 60%;
        width: 45%;
    }


    100% {
        height: 0%;
        width: 40%;
    }
}

.fade-in-large {
    animation: fade-in-large 0.2s normal both;
    pointer-events: auto;
}

@keyframes fade-in-large {
    0% {
        height: 0%;
        width: 40%;
    }


    100% {
        height: 60%;
        width: 45%;
    }
}

.fade-in {
    animation: fade-in 1.5s normal both;
    pointer-events: auto;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.fade-in-fast {
    animation: fade-in 0.1s normal both;
    pointer-events: auto;
}

@keyframes fade-in-fast {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.fade-out {
    animation: fade-out 0.5s normal both;
    pointer-events: none;
}

@keyframes fade-out {
    0% {
        opacity: 100;
    }


    100% {
        opacity: 0;
    }
}

.fade-out-fast {
    animation: fade-out-fast 0.1s normal both;
    pointer-events: none;
}

@keyframes fade-out-fast {
    0% {
        opacity: 100;
    }


    100% {
        opacity: 0;
    }
}

.scale-in {
    animation: scale-in 0.5s normal both;
    pointer-events: inherit;
}

@keyframes scale-in {
    0% {
        height: 0%;
        width: 0%;
    }


    100% {
        height: 25%;
        width: 25%;
    }
}

.scale-out {
    animation: scale-out 0.5s normal both;
    pointer-events: none;
}

@keyframes scale-out {
    0% {
        height: 25%;
        width: 25%;
    }

    100% {
        height: 0%;
        width: 0%;
    }
}

body {
    font-family: myFirstFont;
    transition-duration: 0.5s;
    transition-property: background;
}
.background-white {
    background: linear-gradient(151deg, rgba(255,0,0,1) 0%, rgba(166,6,150,1) 47%, rgba(6,255,231,1) 100%, rgba(0,212,255,1) 100%);
}
.background-dark {
    background: linear-gradient(151deg, rgba(162 0 0) 0%, rgba(130 0 117) 47%, rgba(0 80 72) 100%, rgba(0,212,255,1) 100%);
}

