  /*Start Components */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .round-theme-dark {
        background-color: #0000007c !important;
        color: white !important;
        border: 1px solid #b6b6b67a;
    }
    .round-theme-white {
        background-color: #ffffff7c !important;
        color: black !important;
        border: none;
    }
html, body, main {
    margin: 0;
    height: 100%;
}

.round-left {
    margin-right: auto !important;
}
.round-right {
    margin-left: auto !important;
}
body * {
    border-radius: 16px;
}
.round-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 5px;
}
.round-row { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
.round-compact .round-row {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
}
.round-hide {
    transition: opacity 0.250s ease-out;
}
img {
    /* max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover; */
}
.round-row::after {
    content: "";
    clear: both;
}

/* General: */
.round-col-1 {-ms-flex-preferred-size: 8.33%;flex-basis: 8.33%; min-width: 8.33%;}
.round-col-2 {-ms-flex-preferred-size: 16.66%;flex-basis: 16.66%; min-width: 8.33%;}
.round-col-3 {-ms-flex-preferred-size: 25%;flex-basis: 25%; min-width: 8.33%;}
.round-col-4 {-ms-flex-preferred-size: 33.33%;flex-basis: 33.33%; min-width: 8.33%;}
.round-col-5 {-ms-flex-preferred-size: 41.66%;flex-basis: 41.66%; min-width: 8.33%;}
.round-col-6 {-ms-flex-preferred-size: 50%;flex-basis: 50%; min-width: 8.33%;}
.round-col-7 {-ms-flex-preferred-size: 58.33%;flex-basis: 58.33%; min-width: 8.33%;}
.round-col-8 {-ms-flex-preferred-size: 66.66%;flex-basis: 66.66%; min-width: 8.33%;}
.round-col-9 {-ms-flex-preferred-size: 75%;flex-basis: 75%; min-width: 8.33%;}
.round-col-10 {-ms-flex-preferred-size: 83.33%;flex-basis: 83.33%; min-width: 8.33%;}
.round-col-11 {-ms-flex-preferred-size: 91.66%;flex-basis: 91.66%; min-width: 8.33%;}
.round-col-12 {-ms-flex-preferred-size: 100%;flex-basis: 100%; min-width: 8.33%;}
@media only screen and (max-width: 600px) {
/* For desktop: */
.round-col-phone-1 {-ms-flex-preferred-size: 8.33% !important;flex-basis: 8.33% !important;}
.round-col-phone-2 {-ms-flex-preferred-size: 16.66% !important;flex-basis: 16.66% !important;}
.round-col-phone-3 {-ms-flex-preferred-size: 25% !important;flex-basis: 25% !important;}
.round-col-phone-4 {-ms-flex-preferred-size: 33.33% !important;flex-basis: 33.33% !important;}
.round-col-phone-5 {-ms-flex-preferred-size: 41.66% !important;flex-basis: 41.66% !important;}
.round-col-phone-6 {-ms-flex-preferred-size: 50% !important;flex-basis: 50% !important;}
.round-col-phone-7 {-ms-flex-preferred-size: 58.33% !important;flex-basis: 58.33% !important;}
.round-col-phone-8 {-ms-flex-preferred-size: 66.66% !important;flex-basis: 66.66% !important;}
.round-col-phone-9 {-ms-flex-preferred-size: 75% !important;flex-basis: 75% !important;}
.round-col-phone-10 {-ms-flex-preferred-size: 83.33% !important;flex-basis: 83.33% !important;}
.round-col-phone-11 {-ms-flex-preferred-size: 91.66% !important;flex-basis: 91.66% !important;}
.round-col-phone-12 {-ms-flex-preferred-size: 100% !important;flex-basis: 100% !important;}

.round-compact-phone .round-row {-webkit-box-flex: 0 !important;-ms-flex-positive: 0 !important;flex-grow: 0 !important;}
.round-menu-v1:hover ~ .round-hide{
    opacity: 0 !important;
  }
}
[class*="round-col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    /* flex-grow: 1; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none !important;
    color: inherit;
}
[class*="round-row"] {
    background: none !important;
    color: inherit;
}
.round-fill {
    height: inherit;
}
.round-shadow {
    -webkit-transition-duration: 0.150s;
         -o-transition-duration: 0.150s;
            transition-duration: 0.150s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0 0 0 / 60%);
    box-shadow: 0px 0px 6px 1px rgba(0 0 0 / 60%);
    will-change: box-shadow;
}
.round-shadow:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgba(0 0 0 / 60%);
}
.round-shadow-default {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgba(0 0 0 / 60%);
}
/*Start Menus*/
.round-menu-v1 {
    /* Menu v1*/
    z-index: 1;
    height: 6rem;
    width: 90vw;
    position: absolute; 
    bottom: 1vw; 
    left: 5vw;
    overflow: hidden;
    background-color: #ffffff7c;
    -webkit-transition: all 0.150s;
    -o-transition: all 0.150s;
    transition: all 0.150s;
    will-change: height, width, left, box-shadow;
    font-size: 7rem;
}
.round-menu-v1:hover {
    /* Menu v1 animation*/
    min-height: 7rem;
    height: auto;
    width: 96vw;
    left: 2vw;
}
.round-menu-v1:hover ~ .round-hide{
  opacity: 0.1;
}
/*End Menus*/

/*Start Buttons*/
.round-button-v1 {
    background: none; 
    border: none;  
    outline:none;
    color: inherit;
    font-size: 0.7rem;
}
/*End Buttons*/

/*Start Cards*/
.round-card-img {
    min-height: 100%;
    overflow: hidden;
    border-radius: 0px;
    background: inherit;
}
.round-card-img img {
    border-radius: 0px;
    transform: scale(1.1);
    transition: transform 0.450s ease-out, opacity 0.450s ease-out;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.round-card-content {
    background: inherit;
    min-height: 100%;
    overflow: hidden;
    padding: 0.5rem;
    transition: transform 0.150s ease-in;
    transform: translateY(-35%);
    border-radius: 0px;
    text-align: center;
}
.round-card-v1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff7c;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 1rem;
    height: 10rem; 
    z-index: 1; 
    width: -webkit-fill-available; 
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}
.round-card-v1.round-card-img.round-card-content{
    will-change: transform;
}
.round-card-v1:hover img{
    transform: scale(1);
    opacity: 0.1;
}
.round-card-v1:hover .round-card-content {
    transform: translateY(-100%);
    overflow: auto;
}
/*End Cards*/

.round-inline {
    display: inline;
}


@media only screen and (max-width: 600px) {
/* For phone: */
    .round-menu-v1 {
        font-size: 4vw;
        bottom: 1vw; 
        overflow: auto;
    }

    .round-menu-v1:hover {
        height: calc(100% - 2vw) !important;
    }
}
.round-elem-vert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.round-no-scroll {
    overflow: hidden;
}

.round-cursor-pointer {
    cursor: pointer;
}
/*End Components */