
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        img {
            max-width: 100%;
            height: auto;
        }

        @@font-face {
            font-family: myFirstFont;
            src: url(../fonts/OpenSans-SemiBold.ttf);
        }

        h1, label, p {
            font-family: myFirstFont;
        }

        .device {
            cursor: pointer;
        }

            .device:hover {
            }

        /* GLOBAL STYLES */


        /* DEMO-SPECIFIC STYLES */
        .typewriter h1 {
            color: #000;
            font-family: monospace;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .1em; /* Adjust as needed */
            animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
        }

        .windowBar {
            height: 30px;
            background-color: silver;
            cursor: grab;
        }

            .windowBar:active {
                cursor: grabbing;
            }
        /* The typing effect */
        @@keyframes typing {
            from {
                width: 0
            }

            to {
                width: 100%
            }
        }

        /* The typewriter cursor effect */
        @@keyframes blink-caret {
            from, to {
                border-color: transparent
            }

            50% {
                border-color: orange
            }
        }

        .fade-out-large {
            animation: fade-out-large 0.2s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out-large {
            0% {
                height: 60%;
                width: 45%;
            }


            100% {
                height: 0%;
                width: 40%;
            }
        }

        .fade-in-large {
            animation: fade-in-large 0.2s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in-large {
            0% {
                height: 0%;
                width: 40%;
            }


            100% {
                height: 60%;
                width: 45%;
            }
        }

        .fade-in {
            animation: fade-in 1.5s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .fade-in-fast {
            animation: fade-in 0.1s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in-fast {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .fade-out {
            animation: fade-out 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out {
            0% {
                opacity: 100;
            }


            100% {
                opacity: 0;
            }
        }

        .fade-out-fast {
            animation: fade-out-fast 0.1s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out-fast {
            0% {
                opacity: 100;
            }


            100% {
                opacity: 0;
            }
        }

        .scale-in {
            animation: scale-in 0.5s linear both;
            pointer-events: auto;
        }

        @@keyframes scale-in {
            0% {
                height: 0%;
                width: 0%;
            }


            100% {
                height: 25%;
                width: 25%;
            }
        }

        .scale-out {
            animation: scale-out 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes scale-out {
            0% {
                height: 25%;
                width: 25%;
            }

            100% {
                height: 0%;
                width: 0%;
            }
        }

        .loading {
            animation: loading 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes loading {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }

        .refresh {
            animation: refresh 0.1s linear both;
            pointer-events: none;
        }

        @@keyframes refresh {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .bg {
            /* The image used */
            background-image: url(../images/windows.jpg);
            /* Full height */
            height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .noScroll {
            overflow: hidden;
        }
    </style>

}
<div id="mainDiv" class="container-fluid" onmousedown="resetWindows()" style="position: absolute; bottom: 0; top: 0;">


    <div id="deskDiv" class="row" style=" opacity: 0; " pointer-events: none;">
        <div class="col-12 desktop-icons" style=" position:absolute; top: 2%;  width:100%;">
            <img class=" float-left" id="icon-computer" style="height:35px; cursor:pointer;" src="~/images/mycomputer.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Computer</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 12%;  width:100%;">
            <img class="float-left" id="icon-projects" style="height:35px; cursor:pointer;" src="~/images/folder.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Projects</p>
        </div>
        <div class="col-12 desktop-icons " style=" position:absolute; top: 22%;  width:100%;">
            <img class="float-left" id="icon-linkedin" style="height:35px; cursor:pointer;" src="~/images/linkedin.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Linkedin</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 32%;  width:100%;">
            <img class="float-left" id="icon-github" style="height:35px; cursor:pointer;" src="~/images/github.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Github</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 42%;  width:100%;">
            <img class="float-left" id="icon-cv" style="height:35px; cursor:pointer;" src="~/images/cv.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>CV</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 52%;  width:100%;">
            <img class="float-left" id="icon-certifications" style="height:35px; cursor:pointer;" src="~/images/diploma.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Certifications</p>
        </div>



        <div id="windowsMenu" class="container-fluid shadow-lg" style="position:absolute; bottom:35px; height:0%; width:0%; background-color:#ffffff4d;">
            <div class="row" style="position:absolute; bottom:22%; left:7%;">
                <img class="windowsMenuIcons device shadow-sm" id="avatarButton" style="height:27%; width:27%; opacity:0; cursor:pointer; border-radius: 35px;" onmouseenter="hover('avatarButton')" onmouseout="hoverRemove('avatarButton')" src="~/images/avatar.jpeg" />
            </div>
            <div class="row" style="position:absolute; bottom:12%; left:7%;">
                <img class="windowsMenuIcons device shadow-sm" id="settingButton" style="height:27%; width:27%; opacity:0; cursor:pointer;" onmouseenter="hover('settingButton')" onmouseout="hoverRemove('settingButton')" src="~/images/settings.svg" />
            </div>
            <div class="row" style="        position: absolute;
        bottom: 2%;
        left: 7%;
">
                <img class="windowsMenuIcons device  shadow-sm" id="powerButton" style="height:25%; width:25%; opacity:0; cursor:pointer;" onmouseenter="hover('powerButton')" onmouseout="hoverRemove('powerButton')" onclick="shutDown()" src="~/images/power.svg" />
            </div>
        </div>
        <div class="col-12 shadow-lg" style=" position: absolute;bottom: 0;width: 100%;background-color: #ffffff4d;">
            <img id="d3" class=" device shadow-sm" style="height:35px; width:65px;" onmouseenter="hover('d3')" onmouseout="hoverRemove('d3')" onclick="showDesktopMenu()" src="~/images/windows-logo.svg" />
            <img id="dr" class="device shadow-sm" style="position:absolute; top:1%; bottom:1%; right:5%; height:34px; width:65px;" onmouseenter="hover('d4')" onmouseout="hoverRemove('d4')" src="~/images/volume.svg" />
        </div>
    </div>
    <div id="secondDiv" class="row" style="width: 100%; ">
        <div class="col-12 typewriter w-25 p-3">
            <h1 style="text-align: center;  ">Choose a device!</h1>
        </div>
        <div class="col-12 col-sm-4 offset-sm-2 ">
            <img id="d1" class="shadow-sm device" onmouseenter="hover('d1')" onmouseout="hoverRemove('d1')" onclick="insertDevice('secondDiv')" src="~/images/iPhone.svg" />
        </div>

        <div class="col-12 col-sm-4 ">
            <img id="d2" class="shadow-sm device" onmouseenter="hover('d2')" onmouseout="hoverRemove('d2')" onclick="insertDevice('d2')" src="~/images/Monitor.svg" />
        </div>
    </div>


    <div id="loading" class="row" style="opacity:0; position:absolute; right:30%; left:30%; top:48%; bottom:50%; border: 1px solid blue; border-radius: 5px;">
        <div id="loading-bar" class="" style="background-color:blue; width:0%;"></div>
    </div>

</div>
<div id="refreshMenu">

</div>
<div id="openWindows">
    <div id="window1" class='container-fluid' style='position:absolute; left:20%; top:20%; background-color:white; width:45%; height:55%; border: 3px solid silver; cursor:nwse-resize;'>
        <div id="1" class="row windowBar" onmousedown="dragWindow(this.id)" onmouseup="dragWindowMouseUp()">
            <img id="1" style="position:absolute; right:60px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="minimizeWindow(this.id)" src="~/images/minimize.svg" />
            <img id="1" style="position:absolute; right:32px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="maximizeWindow(this.id)" src="~/images/maximize.svg" />
            <img id="1" style="position:absolute; right:5px;  top:5px; height:20px; cursor:pointer; user-select: none;" onclick="closeWindow(this.id)" src="~/images/close.svg" />
        </div>
        <div class="row" style="background-color:white; height:93%; cursor:default;">
            <object data="~/images/Olteanu_Ionut Valentin_Resume.pdf" type="application/pdf" style="width:100%;">
                alt : <a href="~/images/Olteanu_Ionut Valentin_Resume.pdf">test.pdf</a>
            </object>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var div = null;
        var offset = [0, 0];
        var isDown = false;
        var mousePosition;
        if (document.addEventListener) {
            document.addEventListener('contextmenu', function (e) {
                if (document.getElementById('deskDiv').classList.contains('fade-in')) {
                    e.preventDefault();
                    var x = event.clientX;     // Get the horizontal coordinate
                    var y = event.clientY;     // Get the vertical coordinate

                    var elem = document.getElementById("refreshMenu");
                    elem.innerHTML = "<div class='container' style='position:absolute; left:" + x + "px; top:" + y + "px; background-color:white; width:100px; '> <div  class=' text-center shadow-lg' style='cursor:pointer;' onclick='refresh()'>Refresh</div> <div  class=' text-center shadow-lg' style='cursor:pointer; border-top: 1px solid black;'>Personalize</div> </div>";
                }

            }, false);
        }
        function closeWindow(id) {

            var elem = document.getElementById('window' + id);
            elem.classList.add('fade-out-fast');
            setTimeout(function () {
                elem.innerHTML = "";
                elem.remove();
            },400);

        }
        function dragWindow(id) {
            isDown = true;
            div = document.getElementById('window' + id);
            offset = [
                div.offsetLeft - event.clientX,
                div.offsetTop - event.clientY
            ];
            mousePosition = {

                x: event.clientX,
                y: event.clientY

            };
            div.style.left = (mousePosition.x + offset[0]) + 'px';
            div.style.top = (mousePosition.y + offset[1]) + 'px';
        }
        function dragWindowMouseUp() {
            isDown = false;
            div = null;
        }
        document.addEventListener('mousemove', function (event) {
            event.preventDefault();
            if (isDown && div != null) {
                mousePosition = {

                    x: event.clientX,
                    y: event.clientY

                };
                div.style.left = (mousePosition.x + offset[0]) + 'px';
                div.style.top = (mousePosition.y + offset[1]) + 'px';
            }
        }, true);
        function resetWindows() {
            var elem = document.getElementById("refreshMenu");
            if (elem.innerHTML != "") {
                elem.innerHTML = "";
            }

        }
        function refresh() {
            var windowsMenuIcons = document.getElementsByClassName('desktop-icons');
            var elem = document.getElementById("refreshMenu");
            elem.innerHTML = "";
            for (var i = 0; i < windowsMenuIcons.length; i++) {
                windowsMenuIcons[i].classList.add("refresh");


            }
            setTimeout(function () {
                for (var i = 0; i < windowsMenuIcons.length; i++) {


                    windowsMenuIcons[i].classList.remove("refresh");

                }
            }, 500);
        }
        function desktopIconClick(id) {
            var elem = document.getElementById("openWindows");
            console.log(id);
            switch (id) {
                case "icon-computer":
                    elem.innerHTML += "<div class='container' style='position:absolute; left:20%; top:20%; background-color:white; width:45%; height:55%;'></div>";
                    break;
                case "icon-projects":

                    break;
                case "icon-linkedin":

                    break;
                case "icon-github":

                    break;
                case "icon-certifications":

                    break;

            }
        }
        function hover(name) {
            document.getElementById(name).classList.add("shadow");
        }
        function hoverRemove(name) {
            document.getElementById(name).classList.remove("shadow");
        }
        function shutDown() {
            document.getElementById('deskDiv').classList.add("fade-out-fast");
            document.getElementById('deskDiv').classList.remove("fade-in");
            document.getElementById('mainDiv').classList.remove("bg");
            setTimeout(function () {
                document.getElementById('secondDiv').classList.add("fade-in-fast");
                document.getElementById('secondDiv').classList.remove("fade-out");
            }, 1000);
        }
        function insertDevice(name) {

            document.getElementById('secondDiv').classList.add("fade-out");



            if (name == 'd2') {
                setTimeout(function () {
                    document.getElementById('loading').classList.add("fade-in");
                    document.getElementById('loading').classList.remove("fade-out");

                }, 200);
                setTimeout(function () {
                    document.getElementById('loading-bar').classList.add("loading");
                }, 1000);

                setTimeout(function () {

                    document.getElementById('loading').classList.add("fade-out");
                    document.getElementById('loading').classList.remove("fade-in");
                    document.getElementById('deskDiv').classList.add("fade-in");
                    document.getElementById('deskDiv').classList.remove("fade-out-fast");
                    document.getElementById('mainDiv').classList.add("bg");
                }, 1500);
                document.getElementById('loading-bar').classList.remove("loading");
            }
        }
        function showDesktopMenu() {
            var windowsMenuIcons = document.getElementsByClassName('windowsMenuIcons');
            if (document.getElementById('windowsMenu').classList.contains('fade-in-large')) {

                document.getElementById('windowsMenu').classList.add("fade-out-large");

                for (var i = 0; i < windowsMenuIcons.length; i++) {
                    windowsMenuIcons[i].classList.add("fade-out-fast");
                    windowsMenuIcons[i].classList.remove("fade-in-fast");
                }
                document.getElementById('windowsMenu').classList.remove("fade-in-large");

            } else {

                document.getElementById('windowsMenu').classList.add("fade-in-large");
                setTimeout(function () {
                    for (var i = 0; i < windowsMenuIcons.length; i++) {
                        windowsMenuIcons[i].classList.add("fade-in-fast");
                        windowsMenuIcons[i].classList.remove("fade-out-fast");
                    }
                }, 100);
                document.getElementById('windowsMenu').classList.remove("fade-out-large");
            }

        }
    </script>
}
