
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        img {
            max-width: 100%;
            height: auto;
        }

        @@font-face {
            font-family: myFirstFont;
            src: url(../fonts/OpenSans-SemiBold.ttf);
        }

        h1, label, p {
            font-family: myFirstFont;
        }

        .device {
            cursor: pointer;
        }

            .device:hover {
            }

        /* GLOBAL STYLES */
        #minimzeWindowButton {
            position: absolute;
            right: 12.3%;
            top: 0.2%;
            height: 4%;
            width: 4%;
            cursor: pointer;
            user-select: none;
        }

        #maximizeWindowButton {
            position: absolute;
            right: 6.3%;
            top: 0.2%;
            height: 4%;
            cursor: pointer;
            user-select: none;
        }

        #closeWindowButton {
            position: absolute;
            right: 0.7%;
            top: 0.2%;
            height: 4%;
            cursor: pointer;
            user-select: none;
        }

        .rborder { 
            border: 6px;
            border-radius: 25px;
        }
        /* DEMO-SPECIFIC STYLES */
        .typewriter h1 {
            color: #000;
            font-family: monospace;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .1em; /* Adjust as needed */
            animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
        }

        .windowBar {
            height: 5%;
            background-color: silver;
            cursor: grab;
            margin-right: 0% !important; 
            margin-left: 0% !important;
        }

            .windowBar:active {
                cursor: grabbing;
            }
        /* The typing effect */
        @@keyframes typing {
            from {
                width: 0
            }

            to {
                width: 100%
            }
        }

        /* The typewriter cursor effect */
        @@keyframes blink-caret {
            from, to {
                border-color: transparent
            }

            50% {
                border-color: orange
            }
        }

        .fade-out-large {
            animation: fade-out-large 0.2s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out-large {
            0% {
                height: 60%;
                width: 45%;
            }


            100% {
                height: 0%;
                width: 40%;
            }
        }

        .fade-in-large {
            animation: fade-in-large 0.2s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in-large {
            0% {
                height: 0%;
                width: 40%;
            }


            100% {
                height: 60%;
                width: 45%;
            }
        }

        .fade-in {
            animation: fade-in 1.5s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .fade-in-fast {
            animation: fade-in 0.1s linear both;
            pointer-events: auto;
        }

        @@keyframes fade-in-fast {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .fade-out {
            animation: fade-out 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out {
            0% {
                opacity: 100;
            }


            100% {
                opacity: 0;
            }
        }

        .fade-out-fast {
            animation: fade-out-fast 0.1s linear both;
            pointer-events: none;
        }

        @@keyframes fade-out-fast {
            0% {
                opacity: 100;
            }


            100% {
                opacity: 0;
            }
        }

        .scale-in {
            animation: scale-in 0.5s linear both;
            pointer-events: inherit;
        }

        @@keyframes scale-in {
            0% {
                height: 0%;
                width: 0%;
            }


            100% {
                height: 25%;
                width: 25%;
            }
        }

        .scale-out {
            animation: scale-out 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes scale-out {
            0% {
                height: 25%;
                width: 25%;
            }

            100% {
                height: 0%;
                width: 0%;
            }
        }

        .loading {
            animation: loading 0.5s linear both;
            pointer-events: none;
        }

        @@keyframes loading {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }

        .refresh {
            animation: refresh 0.1s linear both;
            pointer-events: none;
        }

        @@keyframes refresh {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 100;
            }
        }

        .bg {
            /* The image used */
            background-image: url(../images/windows.jpg);
            /* Full height */
            height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .noScroll {
            overflow: hidden;
        }
    </style>

}

<div id="mainDiv" class="container-fluid" onmousedown="resetWindows()" style="position: absolute; bottom: 0; top: 0;">

    @* PC *@
    <div id="deskDiv" class="row" style=" opacity: 0; ">
        <div class="col-12 desktop-icons" style=" position:absolute; top: 2%;  width:100%;">
            <img class=" float-left" id="icon-computer" style="height:35px; cursor:pointer;" src="~/images/mycomputer.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Computer</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 12%;  width:100%;">
            <img class="float-left" id="icon-projects" style="height:35px; cursor:pointer;" src="~/images/folder.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Projects</p>
        </div>
        <div class="col-12 desktop-icons " style=" position:absolute; top: 22%;  width:100%;">
            <img class="float-left" id="icon-linkedin" style="height:35px; cursor:pointer;" src="~/images/linkedin.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Linkedin</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 32%;  width:100%;">
            <img class="float-left" id="icon-github" style="height:35px; cursor:pointer;" src="~/images/github.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Github</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 42%;  width:100%;">
            <img class="float-left" id="icon-cv" style="height:35px; cursor:pointer;" src="~/images/cv.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>CV</p>
        </div>
        <div class="col-12 desktop-icons" style=" position:absolute; top: 52%;  width:100%;">
            <img class="float-left" id="icon-certifications" style="height:35px; cursor:pointer;" src="~/images/diploma.svg" onclick="desktopIconClick(this.id)" /><br /><br />
            <p>Certifications</p>
        </div>



        @* Div where windows are opened *@
    <div id="openWindows" style="position:absolute; bottom:35px; top:0; left:0; right: 0; opacity: 0;  pointer-events:none;">
        @*<div id="window1" class='container-fluid' style='position:absolute; left:20%; top:20%; background-color:white; width:60%; height:80%; border: 3px solid silver; cursor:nwse-resize;'>
            <div id="1" class="row windowBar" onmousedown="dragWindow(this.id)" onmouseup="dragWindowMouseUp()">
                <img id="1" style="position:absolute; right:60px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="minimizeWindow(this.id)" src="~/images/minimize.svg" />
                <img id="1" style="position:absolute; right:32px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="maximizeWindow(this.id)" src="~/images/maximize.svg" />
                <img id="1" style="position:absolute; right:5px;  top:5px; height:20px; cursor:pointer; user-select: none;" onclick="closeWindow(this.id)" src="~/images/close.svg" />
            </div>
            <div class="row" style="background-color:white; height:93%; cursor:default;">
                </object>
            </div>
        </div>*@
        <div class="pdf" id="window1" value="pdf1" class="container-fluid" style="position:absolute; z-index:1; pointer-events: auto;left:20%; top:10%; background-color:white; width:60%; height:80%; border: 6px solid silver; border-radius: 10px; "> 
        <div data-window="window1" class="row windowBar" onmousedown="dragWindow(this)" onmouseup="dragWindowMouseUp()"> 
            <img id="minimzeWindowButton" data-window="window1" style="" onclick="minimizeWindow(this)" src="/images/minimize.svg" /> 
            <img id="maximizeWindowButton" data-window="1" style="" onclick="maximizeWindow(this)" src="/images/maximize.svg" /> 
            <img id="closeWindowButton" data-window="window1" style="" onclick="closeWindow(this)" src="/images/close.svg" /> 
        </div>
        <div class="row" style="background-color:#C0C0C0; height:95%; cursor:default; margin: 0% !important;"> 
            <object data="/images/Olteanu_Ionut Valentin_Resume.pdf" type="application/pdf" style="width:100%; border: 6px solid silver; border-radius: 13px;"> alt : <a href="/images/Olteanu_Ionut Valentin_Resume.pdf">test.pdf</a> 
                </object> 
            </div></div>
    </div>
        @* PC menu that is opened from bottom left corner *@
        <div id="windowsMenu" class="container-fluid shadow-lg rborder" style="position:absolute; bottom:35px; left: 5px; height:0%; width:0%; background-color:#ffffff4d;">
            <div class="row" style="position:absolute; bottom:22%; left:7%;">
                <img class="windowsMenuIcons device shadow-sm" id="avatarButton" style="height:27%; width:27%; opacity:0; cursor:pointer; border-radius: 35px;" onmouseenter="hover('avatarButton')" onmouseout="hoverRemove('avatarButton')" src="~/images/avatar.jpeg" />
            </div>
            <div class="row" style="position:absolute; bottom:12%; left:7%;">
                <img class="windowsMenuIcons device shadow-sm" id="settingButton" style="height:27%; width:27%; opacity:0; cursor:pointer;" onmouseenter="hover('settingButton')" onmouseout="hoverRemove('settingButton')" src="~/images/settings.svg" />
            </div>
            <div class="row" style=" position: absolute; bottom: 2%;left: 7%;">
                <img class="windowsMenuIcons device  shadow-sm" id="powerButton" style="height:25%; width:25%; opacity:0; cursor:pointer;" onmouseenter="hover('powerButton')" onmouseout="hoverRemove('powerButton')" onclick="shutDown()" src="~/images/power.svg" />
            </div>
        </div>
        @* PC bottom bar *@
        <div class="col-12 shadow-lg" style=" position: absolute;bottom: 0;width: 100%;background-color: #ffffff4d;">
            <img id="d3" class=" device shadow-lg" style="width: 20px; margin: 0.4%;" onmouseenter="hover('d3')" onmouseout="hoverRemove('d3')" onclick="showDesktopMenu()" src="~/images/windows-logo.svg" />
            <img id="dr" class="device shadow-sm" style="position:absolute; right:5%; width:2%;" onmouseenter="hover('d4')" onmouseout="hoverRemove('d4')" src="~/images/volume.svg" />
        </div>
    </div>

    @* Home options: Phone / PC *@
    <div id="secondDiv" class="row" style="width: 100%; ">
        <div class="col-12 typewriter w-25 p-3">
            <h1 style="text-align: center; ">Choose a device!</h1>
        </div>
        <div class="col-12 col-sm-4 offset-sm-2 ">
            <img id="d1" class="shadow-sm device" onmouseenter="hover('d1')" onmouseout="hoverRemove('d1')" onclick="insertDevice('secondDiv')" src="~/images/iPhone.svg" />
        </div>

        <div class="col-12 col-sm-4 ">
            <img id="d2" class="shadow-sm device" onmouseenter="hover('d2')" onmouseout="hoverRemove('d2')" onclick="insertDevice('d2')" src="~/images/Monitor.svg" />
        </div>
    </div>

    @* PC loading animation div *@
    <div id="loading" class="row" style="        opacity: 0;
        position: absolute;
        right: 30%;
        left: 30%;
        top: 48%;
        bottom: 50%;
        border: 1px solid blue;
        border-radius: 5px;">
        <div id="loading-bar" class="" style="        background-color: blue;
        width: 0%;"></div>
    </div>

</div>
@* PC right click opens a menu *@
<div id="refreshMenu">

</div>

@section Scripts{

    <script>
        //Variables for dragging window
        var div = null;
        var offset = [0, 0];
        var isDown = false;
        var mousePosition;
        
        //Variables for windows
        //To see if windows are maximized or not
        var isMaximized = [];
        //Opened windows
        var windowsNumber = 0;


        if (document.addEventListener) {
            document.addEventListener('contextmenu', function (e) {
                if (document.getElementById('deskDiv').classList.contains('fade-in')) {
                    e.preventDefault();
                    var x = event.clientX;     // Get the horizontal coordinate
                    var y = event.clientY;     // Get the vertical coordinate

                    var elem = document.getElementById("refreshMenu");
                    elem.innerHTML = "<div class='container' style='position:absolute; left:" + x + "px; top:" + y + "px; background-color:white; width:100px; '> <div  class=' text-center shadow-lg' style='cursor:pointer; postiion:absolute; left:0; right:0;' onclick='refresh()'>Refresh</div> <div  class=' text-center shadow-lg' style='cursor:pointer; border-top: 1px solid black;'>Personalize</div> </div>";
                }

            }, false);
        }
        function closeWindow(id) {

            var elem = document.getElementById('window' + id);
            elem.classList.add('fade-out-fast');
            setTimeout(function () {
                elem.innerHTML = "";
                elem.remove();
                delete isMaximized["" + id + ""];
            }, 400);

        }
        function minimizeWindow(id) {
            
        }
       
        //Maximize window
        function maximizeWindow(element) {
            let id = element.getAttribute('data-window');
            let elem = document.getElementById('window' + id);

            if (isMaximized["" + id + ""] == null) {
                isMaximized.push({ key: "" + id + "", value: "yes" });
                elem.style.width = "100%";
                elem.style.height = "100%";
                elem.style.left = "0%";
                elem.style.top = "0%";
                isMaximized["" + id + ""] = "yes";
            }
            else if (isMaximized["" + id + ""] == "yes") {
                elem.style.width = "60%";
                elem.style.height = "80%";
                elem.style.top = "20%";
                elem.style.left = "20%";
                isMaximized["" + id + ""] = "no";
            } else {
                elem.style.width = "100%";
                elem.style.height = "100%";
                elem.style.left = "0%";
                elem.style.top = "0%";
                isMaximized["" + id + ""] = "yes";
            }


        }
        //Drag Window
        function dragWindow(element) {
            isDown = true;
            div = document.getElementById(element.getAttribute('data-window'));
            offset = [
                div.offsetLeft - event.clientX,
                div.offsetTop - event.clientY
            ];
            mousePosition = {

                x: event.clientX,
                y: event.clientY

            };
            div.style.left = (mousePosition.x + offset[0]) + 'px';
            div.style.top = (mousePosition.y + offset[1]) + 'px';
        }

        function dragWindowMouseUp() {
            isDown = false;
            div = null;
        }
        document.addEventListener('mousemove', function (event) {
            event.preventDefault();
            if (isDown && div != null) {
                mousePosition = {

                    x: event.clientX,
                    y: event.clientY

                };
                div.style.left = (mousePosition.x + offset[0]) + 'px';
                div.style.top = (mousePosition.y + offset[1]) + 'px';
            }
        }, true);

        //Refresh option from right click menu
        function resetWindows() {
            var elem = document.getElementById("refreshMenu");
            if (elem.innerHTML != "") {
                elem.innerHTML = "";
            }

        }

        //Refresh desktop icons
        function refresh() {
            var windowsMenuIcons = document.getElementsByClassName('desktop-icons');
            var elem = document.getElementById("refreshMenu");
            elem.innerHTML = "";
            for (var i = 0; i < windowsMenuIcons.length; i++) {
                windowsMenuIcons[i].classList.add("refresh");


            }
            setTimeout(function () {
                for (var i = 0; i < windowsMenuIcons.length; i++) {


                    windowsMenuIcons[i].classList.remove("refresh");

                }
            }, 500);
        }

        //Open window or link based on desktop icons
        function desktopIconClick(id) {
            var elem = document.getElementById("openWindows");
            console.log(id);
            switch (id) {
                case "icon-computer":
                    elem.innerHTML += "<div class='container' style='position:absolute; left:20%; top:20%; background-color:white; width:45%; height:55%;'></div>";
                    break;
                case "icon-projects":

                    break;
                case "icon-linkedin":
                    var win = window.open('https://www.linkedin.com/in/ovalentinionut/', '_blank');
                    win.focus();
                    break;
                case "icon-github":
                    var win = window.open('https://github.com/intvalentin', '_blank');
                    win.focus();
                    break;
                case "icon-cv":

                    elem.insertAdjacentHTML('beforeend', '<div class="pdf" id="window' + windowsNumber + '" value="pdf' + windowsNumber + '" class="container-fluid" style="position:absolute; z-index:1; pointer-events: auto;left:20%; top:10%; background-color:white; width:60%; height:80%; border: 3px solid silver; "> <div id="' + windowsNumber + '" class="row windowBar" style="margin-right: 0% !important; margin-left: 0% !important;" onmousedown="dragWindow(this.id)" onmouseup="dragWindowMouseUp()"> <img id="' + windowsNumber + '" style="position:absolute; right:60px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="minimizeWindow(this.id)" src="/images/minimize.svg"/> <img id="' + windowsNumber + '" style="position:absolute; right:32px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="maximizeWindow(this.id)" src="/images/maximize.svg"/> <img id="' + windowsNumber + '" style="position:absolute; right:5px; top:5px; height:20px; cursor:pointer; user-select: none;" onclick="closeWindow(this.id)" src="/images/close.svg"/> </div><div class="row" style="background-color:white; height:97%; cursor:default; margin-right: 0% !important; margin-left: 0% !important;"> <object data="/images/Olteanu_Ionut Valentin_Resume.pdf" type="application/pdf" style="width:100%;"> alt : <a href="/images/Olteanu_Ionut Valentin_Resume.pdf">test.pdf</a> </object> </div></div>');
                    windowsNumber++;
                    break;
                case "icon-certifications":
                    break;

            }
        }

        //Set hover shadow
        function hover(name) {
            document.getElementById(name).classList.add("shadow");
        }
        //Remove hover shadow
        function hoverRemove(name) {
            document.getElementById(name).classList.remove("shadow");
        }

        //For now is log off option
        function shutDown() {
            document.getElementById('deskDiv').classList.add("fade-out-fast");
            document.getElementById('deskDiv').classList.remove("fade-in");
            document.getElementById('openWindows').classList.add("fade-out-fast");
            document.getElementById('openWindows').classList.remove("fade-in");

            document.getElementById('mainDiv').classList.remove("bg");
            setTimeout(function () {
                document.getElementById('secondDiv').classList.add("fade-in-fast");
                document.getElementById('secondDiv').classList.remove("fade-out");


            }, 1000);
        }

        //Open specific Phone or PC view based on site home options
        function insertDevice(name) {

            document.getElementById('secondDiv').classList.add("fade-out");



            if (name == 'd2') {
                setTimeout(function () {
                    document.getElementById('loading').classList.add("fade-in");
                    document.getElementById('loading').classList.remove("fade-out");

                }, 200);
                setTimeout(function () {
                    document.getElementById('loading-bar').classList.add("loading");
                }, 1000);

                setTimeout(function () {

                    document.getElementById('loading').classList.add("fade-out");
                    document.getElementById('loading').classList.remove("fade-in");

                    document.getElementById('deskDiv').classList.add("fade-in");
                    document.getElementById('deskDiv').classList.remove("fade-out-fast");

                    document.getElementById('openWindows').classList.remove("fade-out-fast");
                    document.getElementById('openWindows').classList.add("fade-in");


                    document.getElementById('mainDiv').classList.add("bg");
                }, 1500);
                document.getElementById('loading-bar').classList.remove("loading");
            }
        }

        //Show 'windows' left corner menu
        function showDesktopMenu() {
            var windowsMenuIcons = document.getElementsByClassName('windowsMenuIcons');
            if (document.getElementById('windowsMenu').classList.contains('fade-in-large')) {

                document.getElementById('windowsMenu').classList.add("fade-out-large");

                for (var i = 0; i < windowsMenuIcons.length; i++) {
                    windowsMenuIcons[i].classList.add("fade-out-fast");
                    windowsMenuIcons[i].classList.remove("fade-in-fast");
                }
                document.getElementById('windowsMenu').classList.remove("fade-in-large");

            } else {

                document.getElementById('windowsMenu').classList.add("fade-in-large");
                setTimeout(function () {
                    for (var i = 0; i < windowsMenuIcons.length; i++) {
                        windowsMenuIcons[i].classList.add("fade-in-fast");
                        windowsMenuIcons[i].classList.remove("fade-out-fast");
                    }
                }, 100);
                document.getElementById('windowsMenu').classList.remove("fade-out-large");
            }

        }
    </script>
}
